In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


# I realize not everyone will have ROOT installed so i've commented out the root specific parts

#from ROOT import TLorentzVector

#@np.vectorize
#def q2_calc(px, py, pz):
#    e_beam = TLorentzVector(0, 0, 4.8, 4.8)
#    e_prime = TLorentzVector()
#   e_prime.SetXYZM(px, py, pz, 0.000511)
#    return -(e_beam - e_prime).M2()

#@np.vectorize
#def W_calc(px, py, pz):
#    e_beam = TLorentzVector(0, 0, 4.8, 4.8)
#    p_targ = TLorentzVector(0, 0, 0.0, 0.93828)
#    e_prime = TLorentzVector()
#    e_prime.SetXYZM(px, py, pz, 0.000511)
#    return (e_beam - e_prime + p_targ).M()

In [6]:
data = pd.read_csv("../511_lab_E_100k.csv.bz2")
data.describe()

                   p             cx             cy             cz
count  100000.000000  100000.000000  100000.000000  100000.000000
mean        2.809895      -0.009248       0.000167       0.927430
std         0.797405       0.276466       0.249021       0.036664
min         1.500080      -0.677151      -0.676080       0.726911
25%         2.096775      -0.248829      -0.234165       0.910984
50%         2.804645      -0.096869      -0.002730       0.937082
75%         3.511635       0.230567       0.237127       0.954553
max         4.557770       0.672610       0.662856       0.974583

In [ ]:
%%time

px = []
py = []
pz = []
#q2 = []
#w = []
for index, row in data.iterrows():
    px.append(row.p*row.cx)
    py.append(row.p*row.cy)
    pz.append(row.p*row.cz)
    #q2.append(q2_calc(px[-1],py[-1],pz[-1]))
    #w.append(W_calc(px[-1],py[-1],pz[-1]))
        
data['px'] = px
data['py'] = py
data['pz'] = pz
#data['q2'] = q2
#data['w'] = w

In [ ]:
%%time 
data['px'] = data['cx'] * data['p']
data['py'] = data['cy'] * data['p']
data['pz'] = data['cz'] * data['p']
#data['q2'] = q2_calc(data['px'],data['py'],data['pz'])
#data['w'] = W_calc(data['px'],data['py'],data['pz'])

In [ ]:
# Plot directly from pandas df
data['pz'].hist(bins=50)
plt.show()

In [ ]:
# Slices data and puts into new dataframe to only keep values where pz < 1.0
data_2 = data[data['pz'] < 1.0]
# Can also plot all of the values at once not just a single plot
data_2.hist(bins=50,figsize=(20,20))
plt.show()